<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <title>게시글 목록</title>
    <style>
        @media (max-width: 918px){
            .writer {display: none;}
            .regDate	 {display: none;}
            .updateDate {display: none;}
            div#searchWrap { display: block; text-align: center; }
            select{width: 100%;}
            a.search{ width: 100%;}
        }
        div#searchWrap { display: flex; text-align: center; }
        form[name='searchForm'] {overflow: hidden;}
        select{width: 30%;}
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">
            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시판 목록</p>
            </header>
            <!-- Table -->
            <h3><a class="write button small">글 등록</a></h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="bno">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                        <th class="regDate">작성일</th>
                        <th class="updateDate">수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <form name="searchForm">
                    <div class="fields">
                        <div class="field">
                            <div id="searchWrap">
                                <select name="type">
                                    <option value="">검색 기준</option>
                                    <option value="tcw">전체</option>
                                    <option value="t">제목</option>
                                    <option value="c">내용</option>
                                    <option value="w">작성자</option>
                                    <option value="tc">제목 또는 내용</option>
                                    <option value="tw">제목 또는 작성자</option>
                                    <option value="cw">내용 또는 작성자</option>
                                </select>
                                <input type="text">
                                <a href="" class="search button primary icon solid fa-search">검색</a>
                            </div>
                        </div>
                    </div>
                </form>
                <!--페이징 처리-->
            </div>
        </div>
    </div>
</div>
</body>
<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</html>