<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>상품 번호</th>
            <th>상품 이름</th>
            <th>상품 재고</th>
            <th>상품 가격</th>
            <th>등록 날짜</th>
            <th>수정 날짜</th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr th:object="${product}">
                <td th:text="*{productId}"></td>
                <td th:text="*{productName}"></td>
                <td th:text="*{productStock}"></td>
                <td th:text="*{productPrice}"></td>
                <td th:text="*{registerDate}"></td>
                <td th:text="*{updateDate}"></td>
            </tr>
        </th:block>
    </table>
</body>
</html>